<div class="welcome-container">
    <div id="welcome">word search</span> :O</div>
    <img id="welcomebot" src="/img/robot-2.png">
</div>
<div class="search-container">
    <div class="card">
        <div class="card-content">
            <div class="content">
                <span class="dropdown-title">From</span>
                <div class="dropdown" id="from-button">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                            <span id="fromLanguage" class="dropdown-placeholder">Pick a language</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu dropdown-menu-center" id="fromLanguage" role="menu">
                        <div class="dropdown-content">
                            {{#each languages}}
                            <a href="#" class="dropdown-item from-option" lang-code={{code}} lang-id={{id}}>{{name}}</a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <span class="dropdown-title">To</span>
                <div class="dropdown" id="to-button">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                            <span id="toLanguage" class="dropdown-placeholder">Pick a language</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu dropdown-menu-center" id="toLanguage" role="menu">
                        <div class="dropdown-content">
                            {{#each languages}}
                            <a href="#" class="dropdown-item to-option" lang-code={{code}} lang-id={{id}}>{{name}}</a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-bar">
                <input class="input" type="text" placeholder="Search word" id="word">
                <button id="search" class="button">Search</button>
            </div>
        </div>
    </div>
</div>