<div class="welcome-container">
    <div id="welcome">welcome <span class="member-username" user-id={{userId}}>{{username}}</span> :)</div>
    <img id="welcomebot" src="/img/robot-2.png">
</div>
<div class="options-container">
    <div id="your-lists" class="option-chunk">
        <div class="option-title">Your Lists</div>
        <div class="option-body">
            {{#if vocabLists}}
            {{#each vocabLists}}
            <div class="single-option single-list" list-id="{{id}}">
                <p>{{name}}</p>
            </div>
            {{/each}}
            {{else}}
            <div class="list-error">
                <p>You haven't made any lists yet!</p>
            </div>
            {{/if}}
        </div>
    </div>
    <div id="word-search" class="option-chunk">
        <div class="option-title">Word Search</div>
        <div class="option-body">
            <p class="single-option">Translate</p>
            <p class="single-option">Dictionary Look-up</p>
        </div>
    </div>
    <div id="practice" class="option-chunk">
        <div class="option-title">Practice</div>
        <div class="option-body">
            <p class="single-option">Flashcards</p>
        </div>
        <p></p>
    </div>
</div>