<div class="welcome-container">
    <div id="welcome">welcome <span class="member-username" user-id={{userId}}>{{username}}</span> :)</div>
    <img id="welcomebot" src="/img/robot-2.png">
</div>
<div class="options-container">
    <div id="your-lists" class="option-chunk">
        <a href="/vocablists">
            <div class="option-title">Your Lists</div>
        </a>
        <div class="option-body">
            {{#if vocabLists}}
            {{#each vocabLists}}
            <div class="single-option single-list" list-id="{{id}}">
                <p>{{name}}</p>
            </div>
            {{/each}}
            {{else}}
            <div class="list-error">
                <p>You haven't made any lists yet!</p>
            </div>
            {{/if}}
        </div>
    </div>
    <a href="/wordsearch">
        <div id="word-search" class="option-jumbo teal">
            <h1 class="bold">Word Search</h1>
        </div>
    </a>
    <a href="/flashcards">
        <div id="practice" class="option-jumbo blue">
            <h1 class="bold">Flashcards</h1>
        </div>
    </a>
</div>